# Elixir version
elixir_version=1.12.3

# Erlang version
# https://github.com/HashNuke/heroku-buildpack-elixir-otp-builds/blob/master/otp-versions
erlang_version=24.1.7

# Invoke assets.deploy defined in your mix.exs to deploy assets with esbuild
# Note we nuke the esbuild executable from the image
hook_post_compile="eval mix do deps.get, frontend.install, ecto.migrate, frontend.build, phx.digest"

release=true
