<form x-data @submit.prevent="$store.game.create()">
  <input type="text" x-model="$store.game.name" />
  <button type="submit">Play</button>
</form>

<div x-data>
  <template x-if="$store.game.created">
    <p x-data>Game <span x-text="$store.game.created"></span> has been created</p>
  </template>
</div>
